<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
   <!--   <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>-->
      <h4 class="project-name">Bits&Pieces</h4>
   <!-- <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>-->
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      <section id="projects" class="projects">
        <div class="card">
          <div class="card-img">
            <a href="https://github.com/gdpeters/Checkers"><img src="/images/checkers.png" class="img-color" alt=""></a>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a target="_blank" href="https://github.com/gdpeters/Checkers">Checkers</a>
            </div>
            <div class="card-text">
              Chalkboard-style Checkers desktop game written in Java.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <a href="https://github.com/gdpeters/PEP8-Simulator"><img src="/images/pep8-hello.png" class="img-color" alt=""></a>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a target="_blank" href="https://github.com/gdpeters/PEP8-Simulator">Pep/8 Simulator</a>
            </div>
            <div class="card-text">
              C++ console application to process hexadecimal machine code.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <a href="https://github.com/gdpeters/ACM-CitationNetwork"><img src="/images/acm-300x300.png" class="img-color" alt=""></a>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a target="_blank" href="https://github.com/gdpeters/ACM-CitationNetwork">ACM Citation Network</a>
            </div>
            <div class="card-text">
              Distributed computing program written in Scala and SparkSQL using Jupyter Notebook.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <a href="https://github.com/gdpeters/Sudoku"><img src="/images/sudoku.png" class="img-color" alt=""></a>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a target="_blank" href="https://github.com/gdpeters/Sudoku">Sudoku</a>
            </div>
            <div class="card-text">
              Classic Sudoku game written in C# with Visual Studio .NET.
            </div>
          </div>
        </div>
      </section>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using <a href="https://github.com/jekyll/jekyll">Jekyll</a>.</span>
        <p>
          <span class="site-copyright">&copy; 2020 | Bits&Pieces</span>
        </p>
      </footer>
    </main>
  </body>
</html>