<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
<!--begin insert-->

    <!-- Projects Section -->
    <section id="projects" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#" data-toggle="modal" data-target="#waterways"><img class="card-img-top" src="images/671_Lab3_Hi-Res_IL_Waterways_Thumbnail.PNG" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#" data-toggle="modal" data-target="#waterways">Major Waterways of Illinois - MAP671, Module 3</a>
                </h4>
                <p class="card-text">This static map depicts the major waterways of Illinois using the Strahler stream order classification. Includes Lake Michigan.</p>
              </div>
            </div>
          </div>
          <!-- Modal: Major Waterways of Illinois -->
          <div id="waterways" class="modal fade " role="dialog">
            <div class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content bg-light">
                <div class="modal-body text-dark">
                  <img src="maps/671_Lab3_Hi-Res_IL_Waterways.png" width="100%" class="rounded">
                  <h3 class="mt-2">Major Waterways of Illinois - MAP671, Module 3</h3>
                  <h4 class="card-title">
                    <a target = "_blank" href="maps/671_Lab3_Hi-Res_IL_Waterways.png">Download</a>
                  </h4>
                </div>
                <div class="modal-footer border-secondary border-0">
                  <button type="button" class="btn btn-default text-light bg-secondary " data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="images/671_Lab4_Hi-Res_PopDensity_Thumbnail.PNG" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a target="_blank" href="2018_Pop_Density">2018 County Population Density- MAP671, Module 4</a>
                </h4>
                <p class="card-text">This map displays county population density using 2018 census data. Includes Hawaii and Alaska in addition to the lower 48 states.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="images/671_Lab10_Kilauea_Thumbnail.png" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="maps/671_Lab10_Hi-Res_Kilauea.png">Hawaiian Lava Flow - MAP671, Module 10</a>
                </h4>
                <p class="card-text">This is a static map showing the lava flow path following the 2015 eruption of Kiloeau.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="images/672_Lab3_US_Looping_Lab_Thumbnail.PNG" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a target="_blank" href="Midwest_POIs">Adventures in Flatland - MAP672, Module 3</a>
                </h4>
                <p class="card-text">This simple map displays the populations and latitude/longitude coordinates of some of the Midwestern cities I've often visited or lived in.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="images/672_Lab7_US_Power_Plants_Thumbnail.PNG" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a target="_blank" href="US_Power_Plants">US Power Plants, Total and Renewable Capacity
                    - MAP672, Module 7</a>
                </h4>
                <p class="card-text">This map depicts hydropower, wind energy, and solar energy production throughout the United States.
                  All generating power plant points were obtained from the U.S. Energy Information Administration's
                  (eia's)
                  <a href="https://www.eia.gov/electricity/data/eia923/">Form EIA-923.</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="images/672_Lab8_Denver_Amenities_Thumbnail.JPG" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a target="_blank" href="Denver_Amenities">Denver Amenities - MAP672, Module 8</a>
                </h4>
                <p class="card-text">Find fire stations, food, and after school programs within a kilometer of any Denver location!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




      <!--end insert-->>
      <footer class="site-footer">
        <h3>Contact</h3>
        <p>Email: <a href="gpete2@uis.edu">gpete2@uis.edu</a></p>
        <p>Github: <a href="https://github.com/gdpeters">github.com/gdpeters</a></p>
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using <a href="https://github.com/jekyll/jekyll">Jekyll</a>.</span>
      </footer>
    </main>
  </body>
</html>